body {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://newevolutiondesigns.com/images/freebies/nature-hd-background-4.jpg');
   font-size: 25px;
   background-size: cover;
   font-family: 'Cookie', cursive;

  
}
li,h4{
    color:white;
    font-size: 25px;
   
   
}
form{
color: white;
font-family: 'PT Sans', sans-serif;
font-size: 16px;

}
a:link{
     font-size: 30px;
}
#pi{
    font-size:10px;
}
h5,h3{
    color:white;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}
p{
    color:white;
}