
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}
        <!-- {% import 'bootstrap/wtf.html' as wtf %} -->

<!-- Styles block -->

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <!-- {% block new_pitch%}
        {% include 'new_pitch.html' %}
        {%endblock%}  -->
    </head>
  
    <body>
   

    <!-- Content block -->
   
    {% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
  {% endfor %}
 
    <h3>Quotes</h3>
    <ul>
            {%for blog  in blogs%}  
            <h5>{{blog.username}}</h5>    
           <li>{{blog.description}}</li> 
           <a href="/comment/new/{{blog.id}}" class="btn">add comment</a>
        <a href="/comment" class="btn">view comments</a>
          
        {%endfor%}
    </ul>
    
     
    <h5>{{quote.author}}</h5>    
   <li>{{quote.quote}}</li> 
  

<a href="/blog/new" class="btn btn-default">Add Blog</a>

<!-- <div class="well">
        <form >
            <div class="form-group">
            <input type="text" name="movie_query" placeholder="example@gmail.com" class="form-control">
            <p id= "pi">subscribe be updated of new posts..by subscribing you accept our terms and conditions</p>
        </div>
           <input type="submit"  value="Subscribe" class="btn btn-default">
           
        </form>
    
    </div> -->
{% endblock%}


       
</body>
</html>